@font-face {
    font-family: 'Aventador script';
    src: url('Aventadorscript.woff2') format('woff2'),
        url('Aventadorscript.woff') format('woff'),
        url('Aventadorscript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

