/* Адрес цветовой схемы: https://colorscheme.ru/#4s520w0w0w0w0 */
$color-primary-0 = #850c1b
$color-primary-1 = #540910
$color-primary-2 = #260607
$color-primary-3 = #ffe6b7
$color-primary-4 = #cc9c6c
$color-he = #3a86ff
$color-she = #ff006e

$color-secondary-a-0 = black
$color-secondary-a-1 = #bf5b30
$color-secondary-a-2 = #a63100
$color-secondary-a-3 = #ff7940
$color-secondary-a-4 = #ff9d73

$color-secondary-b-0 = white
$color-secondary-b-1 = #aa2a53
$color-secondary-b-2 = #93002f
$color-secondary-b-3 = #f13c76
$color-secondary-b-4 = #f16c97
